/*
 * Podcastoholic is a simple, responsive blog theme built for Eleventy.
 */
/*- Base reset -*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
img {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	min-width: 318px;
}

/*- Base color -*/
/*- Base settings -*/
html {
	font-size: 16px;
	line-height: 1.8;
	color: #333333;
}

@media (min-width: 940px) {
	html {
		font-size: 18px;
	}
}

body {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.img-responsive {
	width: 100%;
	height: auto;
}

/*- Link -*/
.main-heading {
	line-height: 1.5;
}

a {
	color: #333333;
	text-decoration: none;
	font-weight: 700;
	transition: .5s;
}

a:hover,
a:focus {
	color: #4d7198;
}

a.more {
	color: #4d7198;
	text-decoration: none;
	font-weight: 400;
	transition: .5s;
}

a.more:hover {
	color: #ff9900;
}

/* Common classes */
.f-right {
	float: right;
}

.f-left {
	float: left;
}

.clear {
	clear: both;
}

.parent {
	display: flex;
}

.inner {
	align-self: center;
	padding-top: .5em;
}

.justify-center {
	justify-content: center;
}

.justify-spaceBetween {
	justify-content: space-between;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.wh100 {
	width: 100%;
	height: 100%;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}

.right {
	right: 0;
}

.left {
	left: 0;
}

/*- Typography -*/
body {
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #333;
}

/*- Typography for medium and small screen, based on 16px font-size -*/
p,
ul,
ol {
	font-size: 1em;
	/* 16px */
	line-height: 1.8em;
	margin-bottom: 1.5em;
	/* 24px/16px */
}

h1 {
	font-size: 2.25em;
	/* 36px/16px */
	line-height: 1.8em;
	padding: 0.33335em 0;
	/* 12px/36px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}

h2 {
	font-size: 1.5em;
	/* 24px/16px */
	line-height: 1.8em;
	padding: 1em 0 0 0;
	/* 12px/24px * 2, only top (Use padding instead of margin to maintain proximity with paragwithph) */
}

h3,
h4,
h5,
h6 {
	font-size: 1.125em;
	/* 18px/16px */
	line-height: 1.8em;
	padding: 0.68em 0;
	/* 12px/18px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
}

blockquote {
	font-style: italic;
	margin: 1.5em;
	/* 24px/18px */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	background-color: #f2f2f2;
	padding: 0 1.5em;
	/* 24px/18px */
}

blockquote p,
blockquote ul,
blockquote ol {
	padding: 1.5em 0;
	/* 24px/18px */
}

/*- Typography for big screen, based on 18px font-size -*/
@media (min-width: 940px) {

	p,
	ul,
	ol {
		font-size: 1em;
		/* 18px */
		line-height: 1.8em;
		margin-bottom: 1.3334em;
		/* 24px/18px */
	}

	h1 {
		font-size: 2.68em;
		/* 48px/18px */
		line-height: 1.8em;
		padding: 0.25em 0;
		/* 12px/48px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
	}

	h2 {
		font-size: 2em;
		/* 36px/18px */
		line-height: 1.8em;
		padding: 0.66667em 0 0 0;
		/* 12px/36px * 2, pnly top (Use padding instead of margin to maintain proximity with paragraph) */
	}

	h3,
	h4,
	h5,
	h6 {
		font-size: 1.3334em;
		/* 24px/18px */
		line-height: 1.8em;
		padding: 0.5em 0;
		/* 12px/24px * 2 (Use padding instead of margin to maintain proximity with paragraph) */
	}

	blockquote {
		font-style: italic;
		margin: 1.3334em;
		/* 24px/18px */
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		border-radius: 4px;
		background-color: #f2f2f2;
		padding: 0 1.33334em;
		/* 24px/18px */
	}

	blockquote p,
	blockquote ul,
	blockquote ol {
		padding: 1.33334em 0;
		/* 24px/18px */
	}
}

/* -- General Layout -- */
/* Navigation */
#nav a,
#nav-left a {
	display: block;
	color: #333333;
	padding: 0.33334em 0;
	font-size: 1.5em;
	font-weight: 400;
}

@media (min-width: 940px) {

	#nav a,
	#nav-left a {
		font-size: 1em;
	}
}

#nav a:hover,
#nav-left a:hover {
	background-color: rgba(13, 13, 13, 0.6);
}

#nav span,
#nav-left span {
	font-weight: 200;
}

#nav {
	width: 14rem;
	position: fixed;
	background-color: #fff;
	top: 0;
	bottom: 0;
	right: -14rem;
	color: #fff;
	opacity: 0.95;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	z-index: 1;
	padding: 72px 0;
	text-align: center;
}

#nav-left {
	width: 14rem;
	position: fixed;
	background-color: #fff;
	top: 0;
	bottom: 0;
	left: -14rem;
	color: #fff;
	opacity: 0.95;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	z-index: 1;
	padding: 72px 0;
	text-align: center;
}

/* Toggle class to open menu */
#nav.menu-open {
	-webkit-transform: translateX(-14rem);
	-moz-transform: translateX(-14rem);
	-ms-transform: translateX(-14rem);
	transform: translateX(-14rem);
	width: 100%;
}

@media (min-width: 940px) {
	#nav.menu-open {
		width: 30%;
	}
}

#nav-left.menu-open-left {
	-webkit-transform: translateX(14rem);
	-moz-transform: translateX(14rem);
	-ms-transform: translateX(14rem);
	transform: translateX(14rem);
	width: 100%;
}

@media (min-width: 940px) {
	#nav-left.menu-open-left {
		width: 30%;
	}
}

@media (max-width: 940px) {
	#nav-links {
		display: none;
	}
}

#nav-links a {
	margin-left: 10px;
	color: #333;
	font-weight: 300;
}

/* Separator after menu */
#nav-list:after {
	display: block;
	content: '';
	width: 5rem;
	height: 1px;
	margin: 23px auto;
	background-color: #333;
}

/* Icon menu */
#nav-menu {
	display: block;
	position: fixed;
	top: 35px;
	right: 25px;
	z-index: 10;
	height: 24px;
}

@media (min-width: 940px) {
	#nav-menu {
		display: none;
	}
}

#nav-menu-left {
	display: block;
	position: fixed;
	top: 35px;
	left: 25px;
	z-index: 10;
	height: 24px;
}

@media (min-width: 940px) {
	#nav-menu-left {
		display: none;
	}
}

#menu {
	height: 4px;
	width: 1.5em;
	background-color: #333;
	margin-top: 8px;
}

#menu:after,
#menu:before {
	content: "";
	display: block;
	position: relative;
	height: 4px;
	width: 1.5em;
	background-color: #333;
	transition: all 0.3s ease-in;
}

#menu:before {
	top: -8px;
}

#menu:after {
	top: 4px;
}

#menu.btn-close {
	background: none;
}

#menu.btn-close:before {
	top: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #333;
}

#menu.btn-close:after {
	top: -4px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #333;
}

/* Main content */
.fixed {
	position: fixed;
	width: 100%;
}

@media (min-width: 940px) {
	.fixed {
		position: static;
	}
}

#container {
	margin: 0 auto;
}

#header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.14);
	text-align: center;
	margin-bottom: 3em;
	height: 5em;
	position: relative;
}

#header a {
	text-decoration: none;
	display: inline-block;
}

#header div {
	margin: 0 auto;
}

#header h1 {
	font-size: 2em;
	padding-bottom: 0;
}

#header h1 span {
	color: rgba(0, 0, 0, 0.6);
	font-weight: 300;
}

/* Posts */
#posts li {
	list-style-type: none;
}

#post-page {
	margin-bottom: 1.5em;
}

@media (min-width: 940px) {
	#post-page {
		margin-bottom: 1.3334em;
	}
}

.post+.post:before {
	display: block;
	content: '';
	width: 5rem;
	height: 1px;
	margin: 23px auto;
	background-color: #e6e6e6;
}

.by-line {
	display: block;
	color: #737373;
	line-height: 1.8em;
	margin-bottom: 1.5em;
	/* 24px/16px */
	font-weight: 200;
}

@media (min-width: 940px) {
	.by-line {
		display: block;
		color: #737373;
		line-height: 1.8em;
		margin-bottom: 1.3334em;
		/* 24px/18px */
		font-weight: 200;
	}
}

img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 24px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

img[title="Polytechnix"] {
	box-shadow: 0 2px 6px #ddd;
}

code {
	color: #8c8c8c;
	background-color: white;
}

/* Set the vertical rhythm (and padding-left) for lists inside post content */
.content ul,
.content ol {
	line-height: 1.8em;
	padding-left: 1.5em;
}

@media (min-width: 940px) {

	.content ul,
	.content ol {
		line-height: 1.8em;
	}
}

/* Pages */
#page ul,
#page ol {
	padding-left: 1.5em;
}

/* Paginator */
.pagination {
	text-align: center;
	margin: 2.68em;
}

.pagination span {
	background-color: #f2f2f2;
	color: #333;
}

.pagination a:hover {
	background-color: #404040;
}

.page-item {
	background-color: #4d4d4d;
	color: #fff;
	padding: 4px 8px;
	font-weight: 400;
	padding: 0.5em 1em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

/* Footer */
footer {
	color: #333;
	text-align: center;
	padding: 0.68em 0;
}

/*- Custom style -*/
a.page-item {
	background-color: #595959;
}

a.page-item:hover {
	color: #FFFFFF;
}

p a {
	color: #4d7198;
	font-weight: 400;
}

p a:hover {
	text-decoration: underline;
}

.custom-link {
	color: #4d7198;
	font-weight: 400;
}

.custom-link:hover {
	text-decoration: underline;
}

.footnote {
	font-size: 80%;
	margin-left: 2px;
}

.footnote:before {
	content: '[';
}

.footnote:after {
	content: ']';
}

hr.top {
	margin-bottom: 22px;
	border: 1px solid #8c8b8b;
}

hr.bottom {
	border: 0;
	height: 6px;
	margin-top: -12px;
	background: url(../img/hr.png) repeat-x 0 0;
}

.boxShadow {
	box-shadow: 0 0 12px 6px #ddd;
}

.noneBorderRadius {
	border-radius: 0;
}

/*- Typography -*/
@media (min-width: 240px) {
	h1 {
		line-height: 1.4em;
		padding: 0 1.2em 0 1.2em;
	}

	h2 {
		line-height: 1.4em;
	}
}

@media (min-width: 464px) {
	h1 {
		padding: 0;
	}
}

@media (min-width: 940px) {
	h1 {
		line-height: 1.6em;
	}

	h2,
	.main-heading {
		line-height: 1.5;
	}
}

/*- Navigation -*/
@media (min-width: 940px) {
	#nav-links a:hover {
		color: #4d7198;
	}
}

@media (max-width: 463px) {
	#nav-menu {
		top: 45px;
	}
}

@media (min-width: 240px) {
	.pagination {
		margin-left: 1em;
		margin-right: 1em;
	}
}

/*- Layout -*/
#header {
	height: 6.8em;
}

@media (min-width: 464px) {
	#header {
		height: 5em;
	}
}

/*- About page -*/
.greeting {
	margin-bottom: 15px;
}

ul#social-links li a,
ul#projects-links li a {
	color: #4d7198;
}

ul#social-links li a:hover,
ul#projects-links li a:hover {
	text-decoration: underline;
}

code {
	background-color: #43d7ff;
}

/* -- Podcast Layout -- */
/* Base */
.rss-subscribe {
	margin-top: 4.8rem;
	margin-bottom: 3.2rem;
	color: #7c4e52;
}

.rss-subscribe span {
	padding: 1.2em;
	background-color: #f8f4f4;
}

.rss-subscribe span a {
	font-weight: 200;
	color: #7c4e52;
	text-decoration: underline;
}

.rss-subscribe span a:hover {
	color: #4d7198;
}

@media (max-width: 415px) {
	.rss-subscribe span {
		font-size: .8rem;
	}
}

@media (max-width: 340px) {
	.rss-subscribe {
		margin-top: 2.18rem;
		margin-bottom: 2.18rem;
	}

	.rss-subscribe span {
		font-size: .72rem;
		padding-left: 1em;
		padding-right: 1em;
	}
}

.image-container {
	margin: .6rem;
}

.audio-container {
	margin-bottom: 2rem;
}

.center {
	text-align: center;
}

.by-line a {
	font-weight: 200;
	color: #737373;
	text-decoration: none;
	border-bottom: 1px dashed #737373;
}

.by-line a:hover {
	color: #d0a97e;
	border-bottom-color: #d0a97e;
}

ul.podcast-links {
	list-style-type: none;
}

ul.podcast-links li {
	list-style-type: disc;
}

ul.podcast-links li:hover {
	color: red;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: rec;
}

@keyframes rec {
	from {
		color: red;
	}

	50% {
		color: transparent;
	}

	to {
		color: red;
	}
}

ul.podcast-links li a {
	color: #4d7198;
	font-weight: 200;
	text-decoration: underline;
}

ul.podcast-links li a:hover {
	color: #7c4e52;
}

.podcast-item:before {
	display: block;
	content: '';
	width: 8rem;
	height: 1px;
	margin: 22px auto;
	margin-bottom: 3.8rem;
	background-color: #e6e6e6;
}

.podcast-item:first-child:before {
	display: none;
}

/* Cards */
.card {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	width: 250px;
	height: 250px;
}

.card-1 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* Modal */
.but {
	color: #333;
	cursor: pointer;
	background: #fff;
	padding: 5px 10px;
	text-align: center;
	border: 2px solid #333;
	display: inline-block;
	text-decoration: none;
}

.but:focus {
	color: #4d7198;
	border: 2px solid #4d7198;
}

.but:hover {
	color: #fff;
	background: #4dd9ec;
	border: 2px solid #4d7198;
}

.podcast-modal {
	text-align: left;
	position: relative;
}

.podcast-modal .podcast-title {
	font-size: 20px;
	margin: 0;
}

.podcast-modal .close .but {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 20px;
	right: 20px;
	border: 0;
	color: #ccc;
	font-size: 0;
	background: none;
	padding: 5px 10px;
}

.podcast-modal .close .but:before {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
	top: 5px;
	left: 5px;
	background-image: url(../img/close-icon.svg);
	background-size: contain;
	background-repeat: no-repeat;
	fill: #444;
	cursor: pointer;
	z-index: 15;
}

.podcast-modal:before {
	content: "";
	display: none;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.podcast-modal:target:before {
	display: block;
}

.podcast-modal:target .podcast-dialog-modal {
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: 20%;
}

.close .but:focus {
	outline: 1px solid #4d7198;
}

.podcast-dialog-modal {
	width: 100%;
	max-width: 720px;
	height: 455px;
	max-height: 100%;
	margin: 0 audio;
	background: #fefefe;
	position: fixed;
	left: 50%;
	top: 100%;
	z-index: 12;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	-webkit-transform: translate(-50%, 500%);
	-moz-transform: translate(-50%, 500%);
	transform: translate(-50%, 500%);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.podcast-overflow-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.podcast-content-modal {
	padding: 3%;
}

.podcast-header-modal,
.podcast-footer-modal {
	padding: 3%;
}

.podcast-header-modal {
	border-bottom: 1px solid #eee;
}

.podcast-footer-modal {
	border-top: 1px solid #eee;
	text-align: center;
}

/*- Themes -*/
.dark-theme {
	background-color: #000;
	color: #fff;
}

.normal-theme {
	background-color: #fafbfc;
	color: #333;
}

.light-theme {
	background-color: #fff;
	color: #000;
}